{
    "root": true,
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module",
        "ecmaFeatures": {
            "modules": true
        }
    },
    "extends": ["eslint:recommended"],
    "env": {
        "es6": true
    },
    "plugins": [
        "html"
    ],
    "rules": {
        "semi": "error",
        "no-var": "error"
    }
}
