div.container
    .page-header
        h2
        | Servers
    table.table.table-striped.table-condensed.table-hover#servers-table(width="100%", name="servers-table")
        thead
            tr
                th Name
                th URL
                th Daemon Type
                th Version
        tbody
