{
    "extends": [
        "../.eslintrc"
    ],

    "plugins": [
        "codeceptjs"
    ],

    "env": {
        "mocha": true,
        "es6": true,
        "node": true,
        "codeceptjs/codeceptjs": true
    }
}
