.modal.fade.in(tabindex="-1", role="dialog", aria-labelledby="add-server-label", aria-hidden="true")
    .modal-dialog
        .modal-content
            .modal-header
                button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
                h4(class="modal-title", id="add-server-label")= id ? "Edit Server" : "Add Server"
            .modal-body
                form.modal-form(id="form-add-server", method="POST", action="/servers/")
                    fieldset
                        .form-group
                            label.control-label(for='mod-edit-url') URL:
                            .controls
                                input.form-control(id="mod-edit-url", type="text", placeholder="http://localhost:8053", name="url", value=url ? url : "")
                        .form-group
                            label.control-label(for="mod-edit-api-key") API-Key:
                            .controls
                                input.form-control(id="mod-edit-api-key", type="text", placeholder="changeme", name="password", value=password ? password : "")
            .modal-footer
                button.btn.btn-default(href="#", data-action="cancel", data-dismiss="modal", aria-hidden="true") Cancel
                button.btn.btn-success(href="#", data-action="submit", type="submit")= id ? "Update" : "Add server"
