div.container
    .page-header
        h2
            | Servers
        .btn-toolbar(style='margin-bottom: 10px;')
            .btn-group.pull-right
                button.btn.btn-default.add-server
                    span.glyphicon.glyphicon-plus
                    | &nbsp;Add server
                button.btn.btn-default.refresh-server(title="Refresh list" aria-label="Refresh list")
                    span.glyphicon.glyphicon-refresh

    table.table.table-striped.table-condensed.table-hover#servers-table(width="100%", name="servers-table")
        thead
            tr
                th Name
                th URL
                th Daemon Type
                th Version
                th
        tbody
